body {
  background-color: #fff;
}

.hello {
  background-color: floralwhite;
  border: 1px solid #DDD;
  font: 16px Times New Roman, Helvetica, Ariel, sans-serif;
  margin: 20px;
  padding: 20px;
  text-align: left;
}
